<div class="profile">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.avatar.url(:medium) %>
      <h1><%= @user.name %></h1>
    </div>

    <div class="col-md-8">
    </div>
  </div>
</div>
