<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <% if user_signed_in? %>
    <div id='map'></div>
    <script>

    var geojson = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {
                    "title": "Andra Pop",
                    "message": "Sed volutpat pulvinar eros, sit amet venenatis neque imperdiet sit amet. Fusce convallis ante sit amet magna sagittis, ac dictum ex venenatis. Nam eu urna velit. Suspendisse ex leo, vulputate eu laoreet at, cursus bibendum dui."
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [  24.705, 45.143 ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "title": "Dana Marchis",
                    "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus nisi, tincidunt condimentum sollicitudin in, lacinia non dui. Morbi iaculis dolor nec rhoncus vehicula. Pellentesque sagittis dictum sem, ac feugiat ante aliquet non. Etiam urna nunc, consequat id dui vel, vestibulum congue diam. Vestibulum sit amet enim aliquam metus fermentum dignissim."
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [ 25.484,45.680 ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "title": "Diana Truta",
                    "message": "Maecenas porttitor maximus interdum. Ut non sollicitudin est, ornare bibendum est. In congue ex ac porta tincidunt. Cras sit amet dui vitae nisl vehicula scelerisque. Nullam vehicula et nibh bibendum gravida."
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [ 22.767, 48.344 ]
                }
            }
        ]
    };

    mapboxgl.accessToken = 'pk.eyJ1IjoiZGFuYW1hcmNoaXMiLCJhIjoiY2o2M214OWd6MGM5bTMzbnp5ZzdndzFpeSJ9.Kn_dpOfNOjk6NGS-7xihuw';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
      center: [24.713, 45.918], // starting position [lng, lat]
      zoom: 6 // starting zoom
    });

    // Add geolocate control to the map.
    map.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
          enableHighAccuracy: true
      },
      trackUserLocation: true,
      fitBoundsOptions: {
        maxZoom: 8
      }
    }));

    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());

    // add markers to map
    geojson.features.forEach(function(marker) {
      // create a DOM element for the marker
      var el = document.createElement('div');
      el.className = 'marker';

      // add marker to map
      new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML('<h4>' + marker.properties.title + '</h4><p>' + marker.properties.message + '</p>' + '<button class="chat_button btn-success"></button>'))
          .addTo(map);
    });

    </script>
  <% else %>
    <div id="banner">
      <div class="banner_content">
        <h1>BestMatch</h1>
        <p>Find best match and interact</p>
        <button>
          <%= link_to "Sign Up", new_user_registration_path %>
        </button>
      </div>
    </div>
    <div id="testimonial">
      <div class="wrapper">
        <p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci urna, vehicula a pretium in, aliquam posuere nulla."</p>
        <p class="name">- Lorem Ipsum</p>
      </div>
    </div>
  <% end %>

</body>
</html>
