/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'global.scss';
@import 'users.scss';
@import 'welcome.scss';

/* header */

.navbar {
  background-color: $dark_blue;
	margin-bottom: 50px;
	@include box-shadow;
	border: none;
	.navbar-brand {
		// text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;
		a {
      color: $beige;
  	}
  }
  .navbar-nav > li > a {
    color: $beige;
    font-size: 16px;
    &:hover{
      color: $beige;
      text-decoration: underline;
    }
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #090909;
    color: $beige;
}

.btn{
  background-color: $dark_blue;
  color: $beige;
  font-size: 16px;
  &:hover {
    background-color: #566780;
    color: $beige;
  }
}

#error_explanation{
  h2{
    font-size: 18px;
  }
  ul li {
    font-size: 16px;
    color: $red;
  }
  margin-bottom: 30px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

/* map */

#map {
	position:absolute;
	top:60px;
	bottom: 10px;
	left: 100px;
	right: 100px;
	// width:85%;
}

.marker {
	background-image: url('mapbox-icon.png');
	background-size: cover;
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
	width: 40px;
  height: 40px;
}

.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
	.chat_button{
		background-image: url('chat-icon.png');
		background-size: cover;
		width: 40px;
		height: 40px;
		border-radius: 10px;
	}
}
