@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

$red: #DB6161;
$dark_blue: #465874;
$beige: #ECC8B6;
$light_blue: #87ADBE;
$light_beige: #F2D8CC;

body {
	background: rgb(235, 238, 243);
  padding-top: 60px;
}

.alert {
  font-size: 14px;
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	@include box-shadow;
	background: white;
	font-weight: bold;
}
