// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
  // padding: 30px;
  margin-top: 30px;
  margin-left: 70px;
  img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
  }
  h1{
    font-size: 30px;
  }
}
