/* welcome page */
@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	// text-transform: uppercase;
}

#banner {
	// position: absolute;
	background-image: url(image_path("welcome_banner_image.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 600px;
	// height: 100%;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			@include bold_font;
			color: white;
			font-size: 5.5rem;
			margin: 0;
		}
		p {
			font-size: 2.0rem;
			margin: 0.5rem 0 2.5rem 0;
			color: rgba(250, 250, 250, 0.5);
		}
		button {
			border: none;
			outline: none;
			background: $beige;
			padding: 0.8rem 1.5rem;
			border-radius: 2rem;
			a {
				color: $dark_blue;
				font-size: 1.7rem;
				text-decoration: none;
			}
		}
	}
}

#testimonial {
	background-color: #FBF4F0;
	text-align: center;
	color: #afb0b0;
	padding: 3.5rem 0;
	.quote {
		font-size: 2.1rem;
		margin: 0 0 .5rem 0;
	}
	.name {
		@include bold_font;
		color: grey;
		margin: 0;
		font-size: 1.5rem;
	}
}
