<header class="mynav navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "BestMatch", root_path %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hello, <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do %>
                  <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                  My Profile
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                   Edit my account
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                  Settings
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
